.main {
  @extend .col-md-8;
}

.main__header {
  @extend .row;
  @extend .between-xs;
  margin-bottom: convertPixels(26,768,1vh);
}

.main__resultsInfo {
  @extend .col-md-5;
  text-align: right; //font-family: MaisonNeue;
  color: #777;
  font-size: 1.2rem;
  font-weight: 600;
}

.main__view {
  @extend .col-xs-12;
  display: flex;
  justify-content: flex-end;
  margin-top: convertPixels(16,768,1vh);
}

.main__grid {
  background: none;
  border: none;
  margin-left: 2rem;
  cursor: pointer;

  div {
    display: grid;
    width: 30px;
    height: 30px;
  }

  span {
    background: darken(#f5f5f5,11%);
    margin: 1px;
  }
}

.main__grid--big {
  @extend .main__grid;

  div {
    grid-template-columns: 1fr 1fr;
  }
}

.main__grid--medium {
  @extend .main__grid;

  div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main__grid--small {
  @extend .main__grid;

  div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  margin-left: auto;
}
@include responsive('tablet-wide',max) {
  .main {
    padding-top: 1.5rem;
  }

  .main__header {
    display: none;
  }
}
