.pagination {
  @extend .row;
  @extend .end-xs;
  @extend .col-md-6;
  margin-left: auto;
  margin-bottom: 1rem;
  @include responsive('phone-wide',max) {
    display: none;
  }
}

.pagination__links {
  li {
    display: inline-block;
  }
}

.pagination__link {
  color: #666;
  cursor: pointer;
  font-size: convertREM(24);
  text-align: center;
  text-decoration: none;
  transition: 250ms;
  font-weight: 600;
  background: none;
  border: none;
  margin: 0 6px;

  &.active {
    color: #000000;
  }

  &:hover {
    color: #000000;
  }

  img {
    width: 18px;
    height: 18px;
  }
}
@include responsive('tablet',max) {
  .pagination {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .pagination__link {
    font-size: convertREM(20);

    img {
      width: 14px;
      height: 14px;
    }
  }
}
